/*   **FONT LIST**
  font-family: 'Raleway', sans-serif;

  font-family: 'Shippori Mincho', serif;



*/
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&family=Shippori+Mincho&display=swap');

/*  **GALLERY BODY & TEXT STYLES**  */

body {
  background-color: black;
  text-align: center;
  color: whitesmoke;
  margin-right: 3rem;

}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));


}

figure img {
  width: 330px;
  height: 500px;
  border: 2.5px solid white;
}

h1 {
  font-family: Raleway;
  font-size: 5rem;

  text-shadow: 2px 3px red;
}

h3 {
  font-family: Shippori Mincho;
  font-size: 1.9rem;

  text-shadow: 1px 2px red;
}

figcaption a {
  font-family: Shippori Mincho;
  color: whitesmoke;

}

figcaption a:hover {
  color: red;
}

footer {
  margin-top: 35px;
  font-size: 1.5rem;
}

/* **MEDIA QUERIES ** */